# Ollama API Endpoint (Local or Remote)
OLLAMA_URL=http://localhost:11434
LLMPROXY_TOKEN=

# Server Config
LISTEN_PORT=5099

# Optional SearXNG Search Aggregator
SEARXNG_URL=

# E-Mail Notifications Configuration (Optional)
REPORT_FROM=patchday-report@example.com
REPORT_TO=security@example.com

# Optional Remote FTP Export Config
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_PORT=21
FTP_TLS=false
FTP_PATH=/public_html/patchday-board/
